:root {
  --rojo-50: #fff0f0;
  --rojo-100: #ffdddd;
  --rojo-200: #ffc0c0;
  --rojo-300: #ff9494;
  --rojo-400: #ff5757;
  --rojo-500: #ff2323;
  --rojo-600: #ff0000;
  --rojo-700: #d70000;
  --rojo-800: #b10303;
  --rojo-900: #920a0a;
  --rojo-950: #500000;

  --columns: repeat(3, 1fr);
  --rows: 1fr;
}

