.containerCard {
  width: 250px;
  height: 310px;
  max-width: 1200px;
  margin: 20px auto;
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
  border: solid 1px;
  background-color: aqua;
}

.cardName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 25px;
}

.cardTeams {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 15px;
}

.containerImage {
  background-color: brown;
}

.containerImage img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 200px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
