.containerCard {
  width: 270px;
  height: 410px;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 10px;
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
  background: rgb(255, 72, 49);
  background: linear-gradient(
    120deg,
    rgba(255, 72, 49, 0.8603816526610644) 0%,
    rgba(170, 2, 2, 0.8939950980392157) 49%,
    rgba(255, 136, 0, 0.8267682072829132) 100%
  );
}

.cardName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 25px;
}

.cardTeams {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 15px;
}

.containerImage img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 300px;
  justify-content: center;
  align-items: center;
  object-fit: cover scale-down;
}

.containerCard:hover {
  cursor: pointer;
  box-shadow: 3px 3px 10px 5px rgb(255, 255, 255);
}
