.containerSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSearchNav {
  max-width: 190px;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
  position: relative;
  margin: 0 20px;
}

.inputSearchNav:hover {
  border-color: #ff0000;
  color: #ff0000;
  box-shadow: 2px 2px 15px 10px #ff0000;
  translate: -8px 8px 0px 0px;
}

.buttonSearh {
  padding: 15px 40px;
  background-color: #850b0b;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.buttonSearh span {
  color: #fff;
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.buttonSearh:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  background-color: red;
  box-shadow: 0 0 10px red, 0 0 30px red, 0 0 50px red;
}

.buttonSearh div {
  transition: 500ms;
  position: absolute;
  background-color: red;
  box-shadow: 0 0 15px red, 0 0 30px red, 0 0 50px red;
}

.buttonSearh .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

.buttonSearh .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.buttonSearh .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

.buttonSearh .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

.buttonSearh:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}

.buttonSearh:hover .top,
.buttonSearh:hover .bottom {
  width: 100%;
}

.buttonSearh:hover .left,
.buttonSearh:hover .right {
  height: 100%;
}
